.logo{
    width: 30px; 
    height: 25px; 
    position: relative; 
    bottom: 4px; 
    margin-right: 7px;
}
body{
    background-image: url("../images/Cloudy.svg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: Roboto;
}